
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// DataTable
@import "../lib/DataTables/datatables.min.css";

// X Editable
@import "../lib/xeditable/bootstrap3-editable/css/bootstrap-editable.css";

button.close {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 35px;
}